[submodule "shopping_app_frontend"]
	path = shopping_app_frontend
	url = https://github.com/baoussreda/ShopFront.git
[submodule "ShopFront"]
	path = ShopFront
	url = https://github.com/baoussreda/ShopFront.git
